@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--body-background: #fff;
	--body-color: #333333;
	--heading-color: #5960B2;
	--action-color: #5960B2;
}

body {
	background: var(--body-background);
	color: var(--body-color);
	font-family: "Source Sans 3", serif;
	font-optical-sizing: auto;
	font-size: 16px;
	line-height: 1.8;
	padding: 0px;
}

.alt_font {
	font-family: 'EB Garamond', serif;
}

ul {
	list-style: disc;
	margin-left: 30px;
}

ol {
	list-style: decimal;
	margin-left: 30px;
}

a {
	color: var(--action-color);
	font-weight: 500;
	text-decoration-color: #4C54A1;
}

h1 {
	margin: 1rem 0 3rem;
	font-weight: 300;
	line-height: 1.2;
}

header a {
	text-decoration: none;
	color: #000;
}

.main-wrapper,
main,
.main-width {
	max-width: 64rem;
	margin: 0 auto;
}

body>header ul {
	gap: 1rem;
	margin: 0 auto;
	padding: 10px 0;
	list-style: none;
}

footer {
	padding: 10px 20px;
	margin: 0 auto;

	hr {
		border-top: 1px solid #f1f1f1;
	}
}

.post-date {
	@apply text-xs text-[#959595] font-medium;
}

.post-title {
	@apply leading-normal;
	margin-top: 2px;
}

hr {
	border: none;
	border-top: 1px solid #e1e1e1;
}

.image-styled {
	border: 1px solid #cacaca;
}

.disabled,
.caption {
	color: #c3c3c3;
}

.caption {
	@apply text-sm text-center;
}

h1,
.h1 {
	@apply text-xl font-medium mb-4 mt-0;

}

h2,
.h2 {
	@apply text-lg font-medium mb-2 mt-6;
}

p,
.highlighter-rouge {
	@apply mb-4;
}

ul,
ol {
	@apply mb-4;
}

svg {
	display: inline;
	vertical-align: unset;
}
