<footer>
	<div class="flex flex-col items-center text-center">
		<p class="text-xs text-lightpurple leading-tight mt-0 mb-1">
			© 2025 Evercooked. All rights reserved.
		</p>
		<p class="text-xs text-lightpurple leading-tight my-0">
			Cook with heart. Remember with love.
		</p>
	</div>
</footer>
