<header class="w-full border-b border-backgroundlight shadow-sm">
	<div class="flex justify-between items-center px-4 py-1 flex-wrap max-w-5xl mx-auto">
		<h1 class="text-2xl mb-0">
				<a href="/" class="text-xl tracking-tight">
					<?xml version="1.0" encoding="utf-8"?>
					<svg width="30px" height="20px" viewBox="50 75 200 220" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
							<path d="M179.981 276.772C164.375 267.266 161.18 262.061 147.634 248.36C66.1022 165.898 137.157 112.457 172.866 125.376C179.595 127.81 187.269 135.311 195.888 147.877C198.083 137.546 204.354 129.251 214.702 122.992C286.701 79.4431 320.679 175.189 251.306 237.353C234.603 252.325 207.881 277.281 196.844 287.597" stroke="#d97706" stroke-opacity="1" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					Evercooked
				</a>
		</h1>

		<nav>
			<ul class="hidden md:flex space-x-6 text-sm">
				<li><a href="/blog/" class="hover:text-amber-600 transition">Blog Posts</a></li>
				<li><a href="/newsletters/" class="hover:text-amber-600 transition">Newsletters</a></li>
				<li><a href="/about-evercooked/" class="hover:text-amber-600 transition">About</a></li>
			</ul>
		</nav>
		<button class="md:hidden focus:outline-none flex" id="menu-toggle">
			<svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
  </div>

	<div class="hidden md:hidden bg-amber-100 py-2" id="mobile-menu">
		<ul class="flex flex-col items-center space-y-1 text-sm">
			<li><a href="/blog/" class="hover:text-amber-600 transition">Blog Posts</a></li>
			<li><a href="/newsletters/" class="hover:text-amber-600 transition">Newsletters</a></li>
			<li><a href="/about-evercooked/" class="hover:text-amber-600 transition">About</a></li>
		</ul>
	</div>

	<script>
		document.getElementById('menu-toggle').addEventListener('click', function() {
			document.getElementById('mobile-menu').classList.toggle('hidden');
		});


	</script>
</header>
