<h2 class="mt-2 lg:mt-4 text-4xl font-medium mb-0 lg:mb-4 alt_font">Get Started</h2>
<div class="px-2">
	<p class="text-lg mb-2">Embrace love, culture, and history as they guide your kitchen journey</p>
	<p class="hidden lg:block mb-0 lg:mb-4"></p>
</div>
<div class="rounded-lg overflow-hidden shadow-sm border-2 border-gray-100 bg-white">
	<p class="text-2xl md:text-2xl text-accent mt-4 mb-0 alt_font bg-white pt-2 px-4 md:px-4">
		Food, stories & connection delivered to you
	</p>
	<iframe id="signup-sidebar" src="https://evercooked.substack.com/embed" width="100%" height="150" frameborder="0" scrolling="no"></iframe>
	<p id="signup-fallback" class="mt-4 text-sm">
		Can't see the signup form? <br><a href="https://evercooked.substack.com/" target="_blank" class="text-[#5960B2] font-semibold">Click here to subscribe</a>.
	</p>
</div>
