

<section class="w-full px-2 md:px-6 py-6 md:py-8 bg-[#f4f1e7]">
  <div class="max-w-5xl mx-auto text-center">
		<% unless split_layout %>
			<h1 class="text-2xl md:text-3xl font-medium text-center mb-1 leading-tight alt_font">
				Honoring Traditions & Legacy through Cooking
			</h1>
			<h2 class="text-base md:text-lg mb-2 mt-0">
				Embrace love, culture, and history as they guide your kitchen journey
			</h2>

			<div class="w-8 h-1 bg-[#aaa08d] mx-auto my-3"></div>
			<h3 class="text-3xl md:text-5xl mt-0 leading-tight md:mt-2 font-medium mb-2 alt_font">
				Get Started
			</h3>
		<% end %>
		<div class="flex justify-center <% unless split_layout %>mt-4<% end %>">
			<div class="rounded-lg overflow-hidden shadow-sm border-2 border-gray-100 bg-white px-4">
				<h4 class="text-2xl font-medium text-accent mt-4 mb-0 alt_font bg-white pt-2 px-4 md:px-8">
					Food, stories & connection delivered weekly
				</h4>
				<iframe class="w-full" id="signup-main" src="https://evercooked.substack.com/embed" frameborder="0" scrolling="no"></iframe>
				<p id="signup-fallback" class="text-sm">
					Can't see the signup form? <a href="https://evercooked.substack.com/" target="_blank" class="text-[#5960B2] font-semibold">Click here to subscribe</a>.
				</p>
			</div>
		</div>
	</div>
</section>
