---
title: Welcome to Middleman
---

<div class="flex flex-col min-h-screen justify-center items-center">
  
	<h1 class="text-red-500 text-4xl font-bold mt-4">
	 Welcome to Evercooked
	</h1>
  <%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>

</div>
